@import url('https://fonts.googleapis.com/css2?family=Arima:wght@300&family=Lato:wght@100&family=Roboto:ital,wght@1,300&display=swap');
*{
    padding: 0%;
    margin: 0%;
    font-size: 15px;
    
}

body{
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    
    
}
header{
background: rgb(255, 255, 255);
background: linear-gradient(90deg, rgba(2,0,36,1) 11%, rgba(5,102,183,1) 55%, rgba(35,135,156,1) 100%);
padding: 5px;
margin: 15px;
width: 100%;
margin: 0px;

}

a{
    text-decoration: none;
    display: inline-block;
    color: whitesmoke;
    padding: 0px;
    margin: 20px;
    font-size: 30px;
}

ul li:hover{ 
    display: inline-block;
    transform: scale(2);
    color: whitesmoke;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    

}
h1{
    position: relative;
    font-style: italic;
    font-family: 'Arima', cursive;
    text-align: center;
    font-weight: bolder;
    color: black;
   
}
.titulo {
    
    border-radius: 1cm;
    top:2px;
    font-size: 45px;
    border: 2px outset black;
    padding: 10px;
    margin: 10px 40px 25px 40px
   
    
}

h2{

    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 25px;
    font-style: normal;
}

li{
    font-size: 18px;
    font-weight: 500;
    text-align: justify;
    line-height: 1.6;
    color:black
    
  
    
}
h3{
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 20px;
    font-style: normal;
    font-weight: bolder;   
}
h4{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 15px;
    font-style: normal;
    font-weight: lighter;

}
.imgPrincipal{

   display: flex;
   margin: 20px 150px 0px 230px;
   padding: 30px;
   width: 450px;
   height: 350px;
   border-radius: 1cm;
  
  
}
.chicanot{
    margin-top: 15px;
    margin-left: 20px;
    border-radius: 1cm;
    border: 3px solid black;
}
    
p{
    font-size: 18px;
    font-weight: lighter;
    color: black;
    padding: 40px;
    margin-right: 150px;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    border: 1px outset black
    
}
span{
    color: red;
    font-size: 25px;
   
}

footer{
    padding: 10px;
    margin-bottom: 0px;
    margin-top: 200px;
    background-color: black;
   
}



.contacto{
    width: 350px;
    height: 180px;
    padding: 20px;
    margin: 10px
}

.redes{
display: flex;
flex-direction: row;
justify-content: center;

}

.boton:hover{ 
    width: 125px;
    height: 70px;
    background-color: rgb(126, 190, 246);
    color: black;
}


.login{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

   
}




.background-img{
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    opacity: .2;
    top: 15%;
    position: absolute;
    transform: translate(-50%,-50%);
    object-fit: contain;
}


.start h1 {
    margin-top: 20px;
    text-align: center;
    font-size: 3em;
}

.carouselImg{
    width: 1000px;
    height: 700px;
}

header{
    grid-area: header;
    background-color: azure
}

nav{
    grid-area: nav;
    background-color: black;
}

footer{
    grid-area: footer;
    background-color: black
     }

     .red{
        width: 39px;
        height: 39px;
        background-color: black;
        color: black;
        margin: 0px;
        padding: 0px;
    }


         

        