@import url('https://fonts.googleapis.com/css2?family=Arima:wght@300&family=Lato:wght@100&family=Roboto:ital,wght@1,300&display=swap');
*{
    padding: 0%;
    margin: 0%;
    font-size: 15px;
}

body{
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
}

header{
    background: linear-gradient(90deg, rgba(2,0,36,1) 11%, rgba(5,102,183,1) 55%, rgba(35,135,156,1) 100%);
    padding: 5px;
    margin: 0;
    width: 100%;
}

a{
    text-decoration: none;
    display: inline-block;
    padding: 0px;
    margin: 20px;
    font-size: 30px;
}

.navbar-light .navbar-nav .nav-link.active:hover {
    color: #001f74;
    text-shadow: 3px 3px 3px #322185;
}

ol {
    padding: 3px;
}

li{
    font-size: 18px;
    font-weight: 500;
    text-align: justify;
    line-height: 1.6;
    color:black;
    text-align: center;
    list-style: none;
}

ul li:hover{ 
    display: inline-block;
    transform: scale(2);
    color: whitesmoke;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

h1{
    position: relative;
    font-style: italic;
    font-family: 'Arima', cursive;
    text-align: center;
    font-weight: bolder;
    color: black;
}

h2{

    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 25px;
    font-style: normal;
    padding: 10px;
    text-align: center;
}

h3{
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 20px;
    font-style: normal;
    font-weight: bolder;
    margin-bottom: 50px;   
}

h4{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 15px;
    font-style: normal;
    font-weight: lighter;

}
    
p{
    font-size: 18px;
    font-weight: lighter;
    color: black;
    padding: 40px;
    margin-right: 150px;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
}

span{
    color: red;
    font-size: 25px;
   
}

footer{
    padding: 10px;
    margin-top: 100px;
    background-color: black;
}

main h1 {
    margin-top: 50px;
    text-align: center;
    font-size: 3em;
}


.carousel-container{
    margin-top: 45px;
    background: #001f74;
}

.carousel-control-next, .carousel-control-prev {
    color: aqua;
    background-color: #001f74;
}

.carouselImg{
    display: flex;
    width: 640px;
    height: 480px;
    margin: auto;
}

.start {
    text-align: center;
}

.imgPrincipal{
    display: flex;
    padding: 30px;
    width: 450px;
    height: 350px;
    border-radius: 1cm;
    margin: 50px auto;
    justify-content: center;
}

.chicanot{
    display: flex;
    border-radius: 1cm;
    border: 3px solid black;
    margin: auto;
    justify-content: center;
}

.container-img-list{
    background: #001f74;
    padding: 30px 0 20px;
    margin-bottom: 50px;
}

.container-img-list li{
    margin-top: 30px;
    color: #f1f1f1;
    text-align: center;
    list-style:inside;
}

.info h3{
  text-align: justify;
  margin: 50px 100px;
}

.registrese{
    margin:40px;
    text-align: center;
}

.login{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

$botones: (
        login:#006ba8cc,
        crear: #001f74,
);
     
@each $boton, $color in $botones{
        
        .btn--#{$boton}{
            background-color: $color;
            color: white;
        }
        
}

.btn--login:hover{
    width: 100px;
    background: #006aa86e;
}

.btn--crear:hover{
    width: 150px;
    background: #001f74a9;
}

.redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.red{
    width: 40px;
    height: 40px;
    background-color: black;
    color: black;
    margin: 0px;
    padding: 0px;
}

.parra{
        color: blue;
        font-family: Arial, Helvetica, sans-serif;
}
.parra--1{
        @extend .parra;
}
.parra--2{
        @extend .parra;
}
.parra--3{
        @extend .parra;
}


@mixin flex-row-center{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.redes{
    @include flex-row-center;
}

// SECCIÓN DEMANDA
.demandaImg{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 500px;
    height: 450px;
    padding: 10px;
}
.demandaP{
    font-size: 18px;
    font-weight: lighter;
    color: black;
    padding: 10px;
    margin-right: 150px;
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 10px;
    border: 1px outset black
}
// CIERRE SECCIÓN DEMANDA

// SECCIÓN OFERTA
.publicaciones{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 350px;
    height: 150px;
    padding: 10px;
}

.ofertaImg{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 350px;
    height: 250px;
    padding: 10px;
    background-color: rgb(133, 161, 237);
}

.anuncios{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ofertaP{
    display: flex;
    flex-direction: row-reverse;
    font-size: 18px;
    font-weight: lighter;
    background: #f1f1f1;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}

.text-oferta{
    margin: 10px;
}
// CIERRE SECCIÓN OFERTA

// SECCIÓN CONTACTO
.contact-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #37649e;
    color: #f1f1f1;
    margin: 50px 50px;
    border-radius: 50px;
    padding: 50px;
    -webkit-box-shadow: 10px 1px 20px 9px rgba(163,163,212,0.61);
    -moz-box-shadow: 10px 1px 20px 9px rgba(163,163,212,0.61);
    box-shadow: 10px 1px 20px 9px rgba(163,163,212,0.61);
}

.contact-section input{
    /* From https://css.glass */
    background: rgba(28, 41, 129, 0.19);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(28, 41, 129, 0.3);
    color: #f1f1f1;
}

.contact-section textarea{
    background: rgba(28, 41, 129, 0.19);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(28, 41, 129, 0.3);
    color: #f1f1f1;
    resize: none;
    width: 200px;
}

label {
    display:inline;
}

.form-container{
    text-align: center;
}

.contacto{
    width: 250px;
    height: 180px;
    padding: 20px;
    margin: 10px
}

@media (min-width: 500px){
    .contact-section{
        margin: 50px 100px;
        padding: 30px;
    }
}

@media (min-width: 768px){
    .contact-section{
        margin: 50px 200px;
    }
}

@media (min-width: 1024px){
    .contact-section{
        margin: 50px 300px;
    }
}
// CIERRE SECCIÓN CONTACTO

// SECCIÓN GALERIA:
.galeria{
    display: grid;
    gap: 20px;
}

.imgGaleria {
    width: 300px;
    height: 169px;
}

// .imgGaleria:hover{
//     transform: scale(1.3)
// }
// CIERRE SECCIÓN GALERIA

// MEDIA MIN-WIDTH
@media (min-width:500px){
        .galeria {
            grid-template-columns: repeat(3, 1fr);
        }  
        .imgGaleria{
            width: 150px;
            height: 100px;
        }    
}
    
@media (min-width:768px){
       .imgGaleria{
            width: 241px;
            height: 195px;
        }    
}

@media (min-width: 992px){

    .navbar-expand-lg .navbar-collapse {
        flex-direction: column-reverse;
    }

}

    
@media(min-width:1024px){
        .imgGaleria{
            width: 400px;
            height: 350px;
        }
}    
// CIERRE MEDIA MIN-WIDTH

// MEDIA MAX-WIDTH
@media (max-width:768px){

                .imgPrincipal{
                    display: flex;
                    padding: 30px;
                    width: 350px;
                    height: 250px;
                    border-radius: 1cm;
                    margin:80px auto;
                    justify-content: center;
                }
    
                .chicanot{
                   width: 350px;
                   height: 250px;
                   border-radius: 1cm;
                   border: 3px solid black;
                   margin:50px auto;
                }

                .carouselImg{
                    width: 450px;
                    height: 300px;
                }

                .info h3 {
                    margin: 20px 70px;
                    font-size: 15px;
                }

                h2{
                    font-size: 25px;
                    padding: 50px;
                    border: 1px solid black;
                }
        
                span{
                    font-size: 25px;
                }
}

@media (max-width:500px){
    .imgPrincipal{

        display: flex;
        padding: 30px;
        width: 300px;
        height: 200px;
        border-radius: 1cm;
        margin:50px auto;
        justify-content: center;
     }


    .chicanot{
        width: 300px;
        height: 200px;
        display: flex;
        border-radius: 1cm;
        border: 3px solid black;
        margin:50px auto;
       justify-content: center;
    }

    h2{
    padding: 20px;
    font-size: 20px;
    }

    span{
    font-size: 20px;
    }

    .bienvenido{
    color: #001f74;
    }

    .carouselImg{
     width: 350px;
     height: 200px; 
    }

    .ofertaP{
        font-size: 15px;
        font-weight: lighter;
        color: black;
        padding: 10px;
        margin-right: 150px;
        margin-top: 20px;
        margin-left: 10px;
        margin-bottom: 20px;
        border: 1px outset black
    }

    .ofertaImg{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        width: 250px;
        height: 150px;
        padding: 10px;
        background-color: rgb(133, 161, 237);
    }

}

@media (max-width:350px){
    main h1 {
        font-size: 30px;
    }

    .imgPrincipal{
        padding: 10px;
        width: 200px;
        height: 150px;
    }

    .chicanot{
        width: 200px;
        height: 140px;
    }

    .container-img-list{
        margin-bottom: 0;
    }

    a{
        font-size: 15px;
        margin: 10px;
    }

    h2{
        text-align: justify;
        font-size: 18px;
        margin: 0;
    }

    h3 {
        font-size: 15px;
        text-align: center;
        margin: 5px 0 15px;
    }

    .container-img-list li {
        font-size: 18px;
        margin: 5px;
    }

    .info h3 {
        margin: 10px 30px;
        font-size: 15px;
    }
}
// CIERRE MEDIA MAX-WIDTH

