@import url("https://fonts.googleapis.com/css2?family=Arima:wght@300&family=Lato:wght@100&family=Roboto:ital,wght@1,300&display=swap");
* {
  padding: 0%;
  margin: 0%;
  font-size: 15px;
}

body {
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
}

header {
  background: linear-gradient(90deg, rgb(2, 0, 36) 11%, rgb(5, 102, 183) 55%, rgb(35, 135, 156) 100%);
  padding: 5px;
  margin: 0;
  width: 100%;
}

header {
  grid-area: header;
  background-color: azure;
}

a {
  text-decoration: none;
  display: inline-block;
  color: whitesmoke;
  padding: 0px;
  margin: 20px;
  font-size: 30px;
}

li {
  font-size: 18px;
  font-weight: 500;
  text-align: justify;
  line-height: 1.6;
  color: black;
  text-align: center;
  list-style: none;
}

ul li:hover {
  display: inline-block;
  transform: scale(2);
  color: whitesmoke;
}

nav {
  grid-area: nav;
  background-color: black;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

h1 {
  position: relative;
  font-style: italic;
  font-family: "Arima", cursive;
  text-align: center;
  font-weight: bolder;
  color: black;
}

h2 {
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 25px;
  font-style: normal;
  padding: 10px;
  text-align: center;
}

h3 {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 20px;
  font-style: normal;
  font-weight: bolder;
  margin-bottom: 50px;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 15px;
  font-style: normal;
  font-weight: lighter;
}

p {
  font-size: 18px;
  font-weight: lighter;
  color: black;
  padding: 40px;
  margin-right: 150px;
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  border: 1px outset black;
}

span {
  color: red;
  font-size: 25px;
}

footer {
  padding: 10px;
  margin-top: 100px;
  background-color: black;
}

footer {
  grid-area: footer;
  background-color: black;
}

main h1 {
  margin-top: 50px;
  text-align: center;
  font-size: 3em;
}

.carousel-container {
  margin-top: 45px;
  background: #001f74;
}

.carousel-control-next, .carousel-control-prev {
  color: aqua;
  background-color: #001f74;
}

.carouselImg {
  display: flex;
  width: 640px;
  height: 480px;
  margin: auto;
}

.start {
  text-align: center;
}

.imgPrincipal {
  display: flex;
  padding: 30px;
  width: 450px;
  height: 350px;
  border-radius: 1cm;
  margin: 50px auto;
  justify-content: center;
}

.chicanot {
  display: flex;
  border-radius: 1cm;
  border: 3px solid black;
  margin: auto;
  justify-content: center;
}

.container-img-list {
  background: #001f74;
  padding: 30px 0 20px;
  margin-bottom: 50px;
}

.container-img-list li {
  margin-top: 30px;
  color: #f1f1f1;
  text-align: center;
  list-style: inside;
}

.info h3 {
  text-align: justify;
  margin: 50px 100px;
}

.registrese {
  margin: 40px;
  text-align: center;
}

.login {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.btn--login {
  background-color: rgba(0, 107, 168, 0.8);
  color: white;
}

.btn--crear {
  background-color: #001f74;
  color: white;
}

.btn--login:hover {
  width: 100px;
  background: rgba(0, 106, 168, 0.431372549);
}

.btn--crear:hover {
  width: 150px;
  background: rgba(0, 31, 116, 0.662745098);
}

.redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.red {
  width: 40px;
  height: 40px;
  background-color: black;
  color: black;
  margin: 0px;
  padding: 0px;
}

.parra, .parra--3, .parra--2, .parra--1 {
  color: blue;
  font-family: Arial, Helvetica, sans-serif;
}

.redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main {
  display: grid;
  background-color: rgb(255, 255, 255);
  margin-bottom: 1fr;
  gap: 10px;
  grid-template-areas: "nav" "header" "galeria" "footer";
}

.galeria {
  grid-area: galeria;
  background-color: rgba(94, 151, 249, 0.991);
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: azure;
  padding: 30px;
}

.divImg {
  padding: 20px;
  margin: 10px;
}

.imgGaleria {
  width: 290px;
  height: 190px;
  background-color: azure;
  position: relative;
}

.imgGaleria:hover {
  transform: scale(1.3);
}

.demandaImg {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 500px;
  height: 450px;
  padding: 10px;
}

.demandaP {
  font-size: 18px;
  font-weight: lighter;
  color: black;
  padding: 10px;
  margin-right: 150px;
  margin-top: 10px;
  margin-left: 50px;
  margin-bottom: 10px;
  border: 1px outset black;
}

.publicaciones {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 350px;
  height: 150px;
  padding: 10px;
}

.ofertaImg {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 350px;
  height: 250px;
  padding: 10px;
  background-color: rgb(133, 161, 237);
}

.ofertaP {
  font-size: 18px;
  font-weight: lighter;
  color: black;
  padding: 10px;
  margin-right: 150px;
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
  border: 1px outset black;
}

.contacto {
  width: 350px;
  height: 180px;
  padding: 20px;
  margin: 10px;
}

@media (min-width: 500px) {
  .main {
    margin: 0;
    grid-template-areas: "nav nav" "header header" "galeria galeria" "footer footer";
  }
  .imgGaleria {
    width: 350px;
    height: 300px;
  }
}
@media (min-width: 768px) {
  .main {
    margin-bottom: 1.5em;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: "nav nav nav" "header header header" "galeria galeria galeria" "footer footer footer";
  }
  .galeria {
    background-color: rgba(94, 151, 249, 0.991);
  }
  .imgGaleria {
    width: 200px;
    height: 150px;
  }
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    flex-direction: column-reverse;
  }
}
@media (min-width: 1024px) {
  .main {
    margin-bottom: 1.5em;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "nav nav nav" "header header header" "galeria galeria galeria" "footer footer footer";
  }
  .imgGaleria {
    width: 400px;
    height: 350px;
  }
}
@media (max-width: 500px) {
  .imgPrincipal {
    display: flex;
    padding: 30px;
    width: 300px;
    height: 200px;
    border-radius: 1cm;
    margin: 80px auto;
    justify-content: center;
  }
  .chicanot {
    width: 300px;
    height: 200px;
    display: flex;
    border-radius: 1cm;
    border: 3px solid black;
    margin: 50px auto;
    justify-content: center;
  }
  h2 {
    font-size: 20px;
    padding: 50px;
  }
  span {
    font-size: 20px;
  }
  .bienvenido {
    color: #001f74;
  }
  .carouselImg {
    width: 250px;
    height: 150px;
  }
  .ofertaP {
    font-size: 15px;
    font-weight: lighter;
    color: black;
    padding: 10px;
    margin-right: 150px;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
    border: 1px outset black;
  }
  .ofertaImg {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 250px;
    height: 150px;
    padding: 10px;
    background-color: rgb(133, 161, 237);
  }
}
@media (max-width: 768px) {
  .imgPrincipal {
    display: flex;
    padding: 30px;
    width: 350px;
    height: 250px;
    border-radius: 1cm;
    margin: 80px auto;
    justify-content: center;
  }
  .chicanot {
    width: 350px;
    height: 250px;
    display: flex;
    border-radius: 1cm;
    border: 3px solid black;
    margin: 50px auto;
    justify-content: center;
  }
  .carouselImg {
    width: 450px;
    height: 300px;
    justify-content: center;
    margin: 50px;
  }
  h2 {
    font-size: 25px;
    padding: 50px;
    border: 1px solid black;
  }
  span {
    font-size: 25px;
  }
}

/*# sourceMappingURL=estilos.css.map */
